body {
    background-color: aqua;
}

img {
    width: 200px;
    height: 200px;
    border: 3px solid red;
    border-radius: 5px;
}
.btn, .rbtn {
    width: 100px;
    height: 50px;
    border: 2px solid red;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}